body {
	margin: 0;
	background-image: url("../img/house.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
div.main {
	text-align: center;
	margin: 10px;
	padding: 10px;
}

h1 {
	text-align: center;
	padding: 5px 10px;
	margin: 5px 10px;
	color: #BDB4A5;
}
h2 {
	text-align: center;
	padding: 5px 10px;
	margin: 5px 10px;
	color: #BDB4A5;
}
div.form {
	display: inline-block;
	padding: 10px 20px;
	width: 50%;
	border-radius: 10px;
	text-align: center;
}
form {
	display: inline-block;
	padding: 0;
	width: 80%;
	text-align: center;
}
form input {
	width: 30%;
	border-radius: 5px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 7px 7px;
	font-size: 14px;
	height: 12px;
	background-color: ;
}
form button {
	background-color: #337AB7;
	border-radius: 5px;
	width: 20%;
	padding: 7px 10px;
}
div.result {
	width: 60%;
	display: inline-block;
	height: 500px;
	color: #FEECBE;
}
ul {
	list-style: none;
	padding: 0 10px;
}
ul li h4 {
	margin: 10px 0;
}




